<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style5.css">
    <title>Document</title>
</head>
<body>
    <div class="overall_Star_rating">
        <div class="stars">
            <p>this is the stars</p>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star empty-star">1</span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star empty-star">1</span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star empty-star"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star empty-star"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star empty-star"></span>
                </span>
            </div>
            <span class="avg-rating-num"></span>
            <span class="count_of_revs"></span>
        </div>
        <div class="bars">
            <p>this is the bars</p>
            <div class="stars_count">
                <p>5 stars</p>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill five_stars"></div>
                </div>
            </div>
            <div class="stars_count">
                <p>4 stars</p>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill four_stars"></div>
                </div>
            </div>
            <div class="stars_count">
                <p>3 stars</p>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill three_stars"></div>
                </div>
            </div>
            <div class="stars_count">
                <p>2 stars</p>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill two_stars"></div>
                </div>
            </div>
            <div class="stars_count">
                <p>1 stars</p>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill one_stars"></div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>