<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style3.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>restaurant name</h1>
            <p>maybe a title will be here</p>
            <div>restaurente overall rating</div>
        </header>
        <div class="review">
            <div class="reviewr">
                <img src="../static/graphics/avatar1.jpeg" alt="avatr" width="100px">
                <h3>reviewr name</h3>
                <p>reviewr location</p>
                <div>reviewr badges</div>
            </div>
            <div>stars</div>
            <p>review text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laboriosam reiciendis in veritatis commodi quam fuga unde quisquam illo dignissimos, aliquid ipsa eum quaerat! Neque optio mollitia esse eos minima.</p>
        </div>
    </div>
    
</body>
</html>