<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews experiment option 1</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--this is for bootstrap elements-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/load_csv_items.js"></script>
</head>
<body>
    <div class="gridContainer">
        <header>
            <h1>yelp LOGO</h1>
            <form action="" method="post">
                <input type="text" name="" id="" value="Best Restaurants">
                <input type="text" name="" id="Pittsburgh-textbox" value="Pittsburgh">
            </form>
            <form action="" method="post">
                <select name="" id="">
                    <option value="">add a bussines</option>
                </select>
            </form>
            <button>Write a review</button>
            <button>LOG IN</button>
            <button>SIGN UP</button>
        </header>
        <nav>
            <H4>Filters</H4>
            <div>
                <form action="">
                    <button type="button"><option value="">$</option></button>
                    <button type="button"><option value="">$$</option></button>
                    <button type="button"><option value="">$$$</option></button>
                    <button type="button"><option value="">$$$$</option></button>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
        </nav>
        <main class="main">
            <div>
                <h3>serach title</h3>
                <h4>search subtitle</h4>
            </div>
            <div class="reviewsContainer" id="reviewsContainer"></div>

            <div>
                <button type="button" onclick="submitSurvey()">finished</button>
            </div>
        
        </main>
        
    </div>

    
</body>
</html>