<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews experiment option 1</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!--this is for bootstrap elements-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--for the carousele-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="gridContainer">
        <header>
            <h1>yelp LOGO</h1>
            <form action="" method="post">
                <input type="text" name="" id="" value="Best Restaurants">
                <input type="text" name="" id="" value="Pittsburgh">
            </form>
            <form action="" method="post">
                <select name="" id="">
                    <option value="">add a bussines</option>
                </select>
            </form>
            <button>Write a review</button>
            <button>LOG IN</button>
            <button>SIGN UP</button>
        </header>
        <nav>
            <H4>Filters</H4>
            <div>
                <form action="">
                    <button type="button"><option value="">$</option></button>
                    <button type="button"><option value="">$$</option></button>
                    <button type="button"><option value="">$$$</option></button>
                    <button type="button"><option value="">$$$$</option></button>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
            <div class="filter">
                <form action="">
                    <h4>Suggests</h4>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Reservations</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Takeout</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Open Now time PM</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Offers Delivery</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Good for Dinner</label><br>
                    <input type="checkbox" name="" id="">
                    <label for="">Hot and New</label><br>
                </form>
            </div>
        </nav>
        <main class="main">
            <div>
                <h3>serach title</h3>
                <h4>search subtitle</h4>
            </div>
            <div class="reviewsContainer">
              <div id="review1" class="card mb-3" style="max-width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Restaurant Name</h5>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o"></span>
                        <span class="fa fa-star"></span>
                        <p>154 reviews</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">this is also something</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review2" class="card mb-3" style="max-width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Restaurant Name</h5>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o"></span>
                        <span class="fa fa-star"></span>
                        <p>154 reviews</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">this is also something</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review3" class="card mb-3" style="max-width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Restaurant Name</h5>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o"></span>
                        <span class="fa fa-star"></span>
                        <p>154 reviews</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">this is also something</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review4" class="card mb-3" style="max-width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Restaurant Name</h5>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o"></span>
                        <span class="fa fa-star"></span>
                        <p>154 reviews</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">this is also something</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div id="review5" class="card mb-3" style="max-width: 50vw;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <div id="carouselExample" class="carousel slide">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/graphics/restImg copy.jpeg" class="d-block w-100" alt="...">
                        </div>
                      </div>
                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Restaurant Name</h5>
                      <div class="stars">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o"></span>
                        <span class="fa fa-star"></span>
                        <p>154 reviews</p>
                      </div>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-muted">this is also something</small></p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="review">1</div>
              <div class="review">2</div>
              <div class="review">3</div>
              <div class="review">4</div>
              <div class="review">4</div>
            </div>
        </main>
        
    </div>
    
    
</body>
</html>