<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews experiment option 1</title>
    <link rel="stylesheet" href="../static/css/style4.css">
    <!--this is for bootstrap elements-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="../static/js/load_csv_reviews.js"></script>
</head>
<body>
    <div class="gridContainer">
        <header>
            <h1>restaurant name</h1>
            <p>maybe a title will be here</p>
            <div class="overall_Star_rating">
                <h3>restaurente overall rating</h3>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill five_stars">35</div>
                </div>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill four_stars"></div>
                </div>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill three_stars"></div>
                </div>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill two_stars"></div>
                </div>
                <div class="stars_count_bar">
                    <div class="stars_bar_fill one_stars"></div>
                </div>
            </div>
        </header>
        <div class="left"></div>
        <main class="main">
            <div class="reviewsContainer" id="reviewsContainer"></div>

            <div class="finish">
                <button type="button" onclick="submitSurvey()">finished</button>
            </div>
        
        </main>
        
    </div>

    
</body>
</html>