<div class="review">
    <div class="reviewr">
        <img class="reviewerAvatar" alt="avatr" width="100px">
        <h4 class="reviewerName">Reviewr Name</h4>
        <div class="stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star-half-o"></span>
            <span class="fa fa-star"></span>
            <p class="reviews-count">154 reviews</p>
          </div>
        <p class="reviewerLocation">reviewr location</p>
        <div class="reviewrBadges">reviewr badges</div>
    </div>
    <div class="restaurantStars">stars</div>
    <p class="restaurantReviewText">review text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laboriosam reiciendis in veritatis commodi quam fuga unde quisquam illo dignissimos, aliquid ipsa eum quaerat! Neque optio mollitia esse eos minima.</p>
</div>