<div class="review">
    <div class="reviewr">
        <img class="reviewerAvatar" alt="avatr">
        <h4 class="reviewerName">Reviewr Name</h4>
        <span class="EliteBadge">Elite 23</span>
        <p class="reviewerLocation">reviewr location</p>
        <div class="reviewerCount">2</div>
    </div>
    <div class="stars">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o"></span>
        <span class="fa fa-star"></span>
    </div>
    <p class="reviewRestaurantName"></p>
    <p class="restaurantReviewText">review text: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laboriosam reiciendis in veritatis commodi quam fuga unde quisquam illo dignissimos, aliquid ipsa eum quaerat! Neque optio mollitia esse eos minima.</p>
    <input type="checkbox" name="usefullButton" onchange="toggleCheckbox(this)" value="usefull">
    <label for="">This review was usefull</label>
    <input type="button" value="usefull">
</div>