<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews experiment option 1</title>
    <link rel="stylesheet" href="../static/css/style4.css">
    <!--this is for bootstrap elements-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" ></script>
    <script src="../static/js/load_csv_data_common.js" ></script>
    <script src="../static/js/load_csv_reviews.js" ></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>


    <div id="stars_total">
        <div class="stars">
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star one"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star two"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star three"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star four"></span>
                </span>
            </div>
            <div class="containerSTAR">
                <span class="star star-under fa fa-star">
                    <span class="star star-over fa fa-star five"></span>
                </span>
            </div>
            <span class="count_of_revs">3.5 (158 reviews)</span>
        </div>
    </div>



</body>
</html>