:root {
    --red_D: rgb(251, 80, 60);
    --red: rgb(255, 100, 61);
    --orange_D: rgb(255, 135, 66);
    --orange: rgb(255, 173, 72);
    --yellow: rgb(255, 204, 75);
    --yellowOPC: rgb(253, 228, 165);
    --gray: rgb(230, 230, 223); 
    --grayOPC: rgb(230, 230, 223, 0.3); 
}

* {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Manrope', sans-serif;
    padding: 2px;
    margin: 2px;
    font-size: large;
    line-height: 180%;
}


.q_instructions {
    /* text-align: center;
    margin-bottom: 20px; */
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    background-color: var(--yellowOPC);
    padding: 10px;
    margin: 6px;
    z-index: 10; 
    border-radius: 14px;
}

.Q_label {
    /* position: -webkit-sticky; 
    position: sticky;
    top: 0;   */
    background-color: var(--yellowOPC);
    padding: 10px;
    margin: 6px;
    z-index: 10; 
    border-radius: 14px; 
}

table {
    width: 100%;
    /* border-collapse: collapse; */
    margin-bottom: 20px;
}

thead th {
    background-color: #f2f2f2;
    font-weight: 300; 
    font-size: smaller;
    /* text-align: center; */
}

td {
    padding: 8px;
    /* text-align: center; */
    font-weight: 300; 
}

.RatingFormQuestions tr {
    border: 1px solid var(--gray);
}

th {
    background-color: #f2f2f2;
}

.likertStatement {
    width: 51%;
}

.likertRadio {
    width: 7%;
    padding-left: 2%;
}

input[type="radio"] {
    margin: 0;
}



.formSubmit {
    display: block;
    width: 20%;
    padding: 6px;
    margin: auto;
    background-color: var(--orange);
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 16px;
}

.formSubmit:hover {
    background-color: var(--red);
}


