* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 80%;
    padding: 20px;
}

header {
    background-color: rgb(222, 222, 222);
}

img {
    float: left;
}