:root {
    --red_D: rgb(251, 80, 60);
    --red: rgb(255, 100, 61);
    --orange_D: rgb(255, 135, 66);
    --orange: rgb(255, 173, 72);
    --yellow: rgb(255, 204, 75);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
}

@font-face {
    font-family: Anton;
    src: url(../graphics/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: Python;
    src: url(../graphics/fonts/Paytone_One/PaytoneOne-Regular.ttf);
}
.gridContainer {
    display: grid;
    grid-template-columns: 23% 18% 18% 18% 23%;
    grid-template-rows: auto;
    grid-template-areas: 
    'left header header header right'
    'left main main main right'
    'left footer footer footer right';
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

.left {
    grid-area: left;
}

.right {
    grid-area: left;

}

footer {
    grid-area: footer;
    
}


/* element 1 in header: title + img*/
.resHeader {
    height: 38%;
    background-repeat: no-repeat, repeat;
    background-size: contain, cover;
    color: white;
    padding-left: 30%;
    padding-top: 5%;
    font-family: Anton;
    font-weight:bolder;
}

.resName, .resTag{
    background-color: rgb(128, 128, 128, 0.5);
}

/*stars ---- IMPORTANT!!!!----*/
.fa-star, .fa-star-half-o {
    background-color: rgb(122, 122, 122, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 5px
}

.checked{
    color:white !important;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
}


/* elemnt 2 in header: stars and bars*/
.overall_Star_rating{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.starsAGR {
    width: 50%;
    margin: auto;
    padding-left: 10%;
}

.bars {
    width: 50%
}


#stars_total {
  display: flex;
  justify-content: center;
  align-items: center;
}

#stars_total .fa {
    font-size: x-large;
}

/* agregative stars element*/
.stars_count {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.stars_count_bar {
    background-color: lightgray;
    width: 70%;
    height: 10px;
    border-radius: 15px;
    padding: 0%; 
    margin: 10px;
    clear:right;
}

.stars_bar_fill {
    color: white; 
    padding: 0%; 
    margin: 0%;
    text-align: right; 
    height: 100%; 
    border-radius: 15px; 
}

.five_stars {
    width: 0%;
    background-color: var(--red_D); 
}

.four_stars {
    width: 0%;
    background-color: var(--red); 
} 

.three_stars {
    width: 0%;
    background-color: var(--orange_D); 
} 
.two_stars {
    width: 0%;
    background-color: var(--orange); 
} 

.one_stars {
    width: 0%;
    background-color: var(--yellow); 
} 

/* review card container*/
.reviewsContainer {
    display: flex;
    flex-direction: column;
}

.restaurantsContainer {
    display: flex;
    flex-direction: column;
}

.review {
    border: 1px solid rgba(168, 168, 168, 0.5);
    padding: 10px;
    box-shadow: 3px 5px 4px rgba(168, 168, 168, 0.5);
    border-radius: 4px;
}

.ratings i{
    font-size:large;
}

.card-body {
    width: 400px;
}

.container {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.reviewerAvatar {
    float: left;
    height: 100px;
    border-radius: 100%;
}

.EliteBadge {
    background-image: linear-gradient(to bottom right, var(--red),var(--orange_D), var(--yellow));
    color: white;
    font-style: italic;
    border-radius: 15px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
}

.reviewr {
    overflow: hidden;
}

.reviewerName {
    display: inline;
}

.reviewRestaurantName {
    display: none;
}

.clicked {
    border: 1 solid blackcs;
}

.UsefullBTN {
    background-image: url(../graphics/bulb.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 25px;
    background-color: white;
    padding: 4px;
    padding-left: 35px;
    padding-right: 15px;
}

#FinishedBTN {
    border-radius: 25px;
    padding: 4px;
    box-shadow: 2px 2px 2px 2px rgba(168, 168, 168, 0.5);
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
}

.finish {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*stars totoal expr*/
.containerSTAR {
    font-size: xx-large;
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    min-height: 0em;
    vertical-align: middle;
}

.star-under {
    background-color: #ddd;
    vertical-align: top;
    padding: 4px;
    margin: 0px;
}

.star-over {
    background-color: var(--orange_D);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 4px;
    margin: 0px;
}

.full-star {
    width: 100%;
}

.partially-full-star {
    width: 100%;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
}

.empty-star {
    width: 0%;
    padding: 0% !important; 
}


