* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
}
.gridContainer {
    display: grid;
    grid-template-areas: 
    'left header'
    'left main';
}
header {
    grid-area: header;
    background-color: rgb(220, 220, 220);
}

main {
    grid-area: main;
}

.left {
    grid-area: left;
    background-color: rgb(248, 247, 247);
    width: 15vw;
}
/* this is the container of the review card*/
.reviewsContainer {
    display: flex;
    flex-direction: column;
}
/*
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}
*/
.checked{
    color:#fbc634 !important;
}

.ratings i{
    font-size:large;
}
/*
.badge {
    background-color: blue;
}
*/
.card-body {
    width: 400px;
}

.container {
    margin: auto;
    width: 80%;
    padding: 20px;
}

.reviewerAvatar {
    float: left;
    height: 100px;
    border-radius: 100%;
}

.EliteBadge {
    background-color: rgb(255, 0, 0);
    border: 1 solid white;
    border-radius: 20%;
    display: none;
}

.reviewr {
    overflow: hidden;
}

.reviewerName {
    display: inline;
}

.usefulButton {
    background-color: rgb(71, 249, 249);
    border: 0 solid rgb(226, 252, 252);
    border-radius: 15px;
    color: rgb(0, 57, 57);
    padding: 4px;
}

.clicked {
    border: 1 solid blackcs;

}
/* stars summar*/

.stars_count {
    display: flex;
    margin: 0px;
    padding: 0px;
}
.stars_count_bar {
    background-color: white;
    width: 500px;
    height: 10px;
    border-radius: 15px;
    padding: 0%; 
    margin: 10px;
    clear:right;
}

.stars_bar_fill {
    background-color: rgb(255, 234, 0); 
    color: white; 
    padding: 0%; 
    margin: 0%;
    text-align: right; 
    height: 100%; 
    border-radius: 15px; 
}

.five_stars {
    width: 0%
}

.four_stars {
    width: 0%
} 

.three_stars {
    width: 0%
} 
.two_stars {
    width: 0%
} 

.one_stars {
    width: 0%
} 