:root {
    --red_D: rgb(251, 80, 60);
    --red: rgb(255, 100, 61);
    --orange_D: rgb(255, 135, 66);
    --orange: rgb(255, 173, 72);
    --yellow: rgb(255, 204, 75);
    --gray: rgb(230, 230, 223); 
    --grayOPC: rgb(230, 230, 223, 0.3); 
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Manrope', sans-serif;
    padding: 2px;
    margin: 2px;
    /* border: 0.5px solid black; */
}

/*grid system*/

.gridContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
    'left header right'
    'left main right'
    'left footer right';
}

header {
    grid-area: header;
    height: fit-content;
}

main {
    grid-area: main;
}

.left {
    grid-area: left;
}

.right {
    grid-area: left;

}

footer {
    grid-area: footer;
    
}

/* stars element in review ---- LOCATION IMPORTANT!!!!----*/
.fa-star, .fa-star-half-o {
    background-color: rgb(122, 122, 122, 0.5);
    color: rgb(255, 255, 255);
    border-radius: 5px
}

.checked{
    color:white !important;
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
}

#stars_total {
  display: flex;
  justify-content: center;
  align-items: center;
}

#stars_total .fa {
    font-size: x-large;
}

/*-----header-----*/
/* elemnt 1 in header: reviewSubjecte title + img*/
.resHeader {
    height: 50%;
    background-repeat: no-repeat, repeat;
    background-size: contain, cover;
    color: white;
    padding-left: 30%;
    padding-top: 5%;
    font-weight:bolder;
}

.resName {
    background-color: rgb(128, 128, 128, 0.8);
}

.resTag{
    background-color: rgb(128, 128, 128, 0.8);
    font-style: italic;
}
/* elemnt 2 in header: stars and bars*/
.overall_Star_rating{
    min-height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/*stars containers*/
.starsAGR {
    width: 50%;
    margin: auto;
}

.starsIcons {
    width: fit-content;
    margin: auto;
}

.avgStars {
    text-align: center;
    width: fit-content;
    margin: auto;
}

.bars {
    width: 50%
}

/*stars totoal expr*/
.containerSTAR {
    font-size: xx-large;
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    min-height: 0em;
    vertical-align: middle;
}

.star-under {
    background-color: var(--gray);
    vertical-align: top;
    padding: 4px;
    margin: 0px;
}

.star-over {
    background-color: var(--orange_D);
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    padding: 4px;
    margin: 0px;
}

.full-star {
    width: 100%;
}

.partially-full-star {
    width: 100%;
    border-top-right-radius:0px ;
    border-bottom-right-radius: 0px;
}

.empty-star {
    width: 0%;
    padding: 0% !important; 
}

/* stars count */
.stars_count {
    display: flex;
    margin: 0px;
    padding: 0px;
}

/* stars bars*/
.stars_count_bar {
    background-color: var(--gray);
    width: 80%;
    height: 10px;
    border-radius: 15px;
    padding: 0%; 
    margin: 10px;
    clear:right;
}

.stars_bar_fill {
    color: white; 
    padding: 0%; 
    margin: 0%;
    text-align: right; 
    height: 100%; 
    border-radius: 15px; 
}

.five_stars {
    width: 0%;
    background-color: var(--red_D); 
}

.four_stars {
    width: 0%;
    background-color: var(--red); 
} 

.three_stars {
    width: 0%;
    background-color: var(--orange_D); 
}

.two_stars {
    width: 0%;
    background-color: var(--orange); 
} 

.one_stars {
    width: 0%;
    background-color: var(--yellow); 
} 

/*-----main-----*/
/* reviews container and cards*/
/* .reviewsContainer {
    display: flex;
    flex-direction: column;
}

.reviewSubjectsContainer {
    display: flex;
    flex-direction: column;
} */

.review {
    border: 1px solid rgba(168, 168, 168, 0.5);
    padding: 10px;
    box-shadow: 3px 5px 4px rgba(168, 168, 168, 0.5);
    border-radius: 4px;
}


.reviewr {
    display: flex;
    flex-direction: row;
}
/* .ratings i{
    font-size:large;
}

.card-body {
    width: 400px;
}

.container {
    margin: auto;
    width: 80%;
    padding: 20px;
} */

.reviewerAvatar {
    float: inline-start;
    height: 100px;
    border-radius: 100%;
    background-color: var(--gray);
}


.EliteBadge {
    background-image: linear-gradient(to bottom right, var(--red),var(--orange_D), var(--yellow));
    color: white;
    font-style: italic;
    border-radius: 15px;
    display: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Manrope', sans-serif;
}

.reviewr {
    overflow: hidden;
}

.reviewerName {
    display: inline;
}

.reviewReviewSubjectName {
    display: none;
}

.clicked {
    border: 1 solid blackcs;
}

.UsefullBTN {
    background-image: url(../graphics/bulb.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 25px;
    background-color: white;
    padding: 4px;
    padding-left: 35px;
    padding-right: 15px;
    font-family: 'Manrope', sans-serif;
}

.RatingForm {
    border-top: 1px solid var(--gray);
    height: 40vh;
    overflow: scroll;
    /* display: flex;
    justify-content: center; */
}

/* .DV {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} */

td {
    width: 30%;
}

.radio {
    /* background-color: var(--grayOPC); */
    text-align: center;
    width: 45vw;
    /* margin: 5px; */
    margin: auto ;

}

label.Q {
    /* border: 1px solid black; */
    background-color: var(--grayOPC);
    border-radius: 15px;
    padding-left: 15px;
    margin: 0px;
    width: 100%;
    margin-top: 30px;
}


/*-----footer-----*/
#FinishedBTN {
    background-color: var(--gray);
    border-radius: 25px;
    padding: 4px;
    box-shadow: 2px 2px 2px 2px rgba(168, 168, 168, 0.5);
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    /* font-family: 'Manrope', sans-serif; */
}

.pagingBTN {
    background-color: var(--gray);
    border-radius: 25px;
    border: 0px solid white;
    padding: 4px;
    box-shadow: 2px 2px 2px 2px rgba(168, 168, 168, 0.5);
    font-size: large;
    padding-left: 25px;
    padding-right: 25px;
    width: fit-content;
    margin: auto;
}

.finish {
    display: flex;
    justify-content: center;
    align-items: center;
}



@media screen and (max-width:1500px) {

    .gridContainer {
        display: grid;
        grid-template-columns: 12% 76% 12%;
        grid-template-rows: auto;
        grid-template-areas: 
        'left header right'
        'left main right'
        'left footer right';
    }

}

@media screen and (max-width:1070px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-template-areas: 
        'header'
        'main'
        'footer';
    }

    .overall_Star_rating{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .starsAGR {
        width: fit-content;
        margin: auto;
        padding: 0px;
    }
    
    .bars {
        width: 100%;
        margin: auto;
        padding-left: 5%;
    }

    .avgStars {
        text-align: center;
        display: block;
    }

}

@media screen and (max-width:445px) {

    .stars_count > p {
        font-size: x-small;
    }

    .avgStars > span {
        font-size: small;
    }

}
